{% extends 'base.html' %}
{% load static %}

{% block title %}About - Portfolio{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="contribution-grid">
            {% for date, count in contributions.items %}
            <div class="contribution-cell {% if count == 0 %} bg-0 {% elif count <= 5 %} bg-1 {% elif count <= 10 %} bg-2 {% elif count <= 20 %} bg-3 {% else %} bg-4 {% endif %}"
                title="Date: {{ date }} - Commits: {{ count }}"></div>
            {% endfor %}
        </div>

        <div class="legend">
            <div class="legend-text">Less</div>
            <div><span class="bg-0"></span><span class="bg-1"></span><span class="bg-2"></span><span
                    class="bg-3"></span><span class="bg-4"></span></div>
            <div class="legend-text">More</div>
        </div>
    </div>
{% endblock %}